<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Book Management System</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1>Book Management System</h1>
		<hr>
		<h2>Update Book Description</h2>

		<form action="#" th:action="@{/saveBookDescription}" th:object="${book}" method="POST">
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{bookTitle}" />
			<input type="hidden" th:field="*{bookAuthor}" />
			<input type="hidden" th:field="*{bookGenre}" />
			<input type="hidden" th:field="*{bookStatus}" />

			<textarea class="form-control" rows="3" type="text" th:field="*{briefDescription}">
			</textarea>
			<button type="submit" class="btn btn-primary col-2"> Update Book</button>
		</form>
		<hr>
		<a th:href="@{/moreInfo/{id}(id=${book.id})}"> Back to More Info Page</a>
	</div>
</body>

</html>